<title>아리랑시네센터 공지사항</title>
<div class="sub_header">
  <div class="inner_subHeader w1440">
    <div class="home_btn"><a href="/"></a></div>
    <ul class="sub_nav">
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">고객센터</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">영화</a></li>
          <li><a href="">예매</a></li>
          <li><a href="">이벤트</a></li>
          <li><a href="">프로그램</a></li>
          <li><a href="/noticeUser">고객센터</a></li>
        </ul>
      </li>
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">공지사항</a>
        <ul class="sub_lnb">
          <li><a href="/noticeUser">공지사항</a></li>
          <li><a href="">자주찾는 질문</a></li>
          <li><a href="">1:1 문의</a></li>
          <li><a href="">찾아오시는 길</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<section class="sub_sec">
  <h2>공지사항</h2>
  <div class="boardList_wrap w1440">
    <div class="board_read_title">
      <h3><%= row.not_tit %></h3>
      <div class="writer_info">
        <span class="writer_name"><%= row.write_user %></span>
        <span class="write_time">
          <% let time = row.create_time; let toYear = time.getFullYear(); let
          toDate = time.getDate(); let toMonth = time.getMonth() + 1; %> <%=
          toYear %>-<%= String(toMonth).padStart(2, '0') %>-<%=
          String(toDate).padStart(2, '0') %>
        </span>
        <span class="view_num"><em>조회수 : </em><%= row.view_cnt %></span>
      </div>
    </div>
    <div class="board_read_con">
      <p><%= row.not_content %></p>
    </div>
  </div>
  <div class="board_read_more w1440">
    <ul>
      <% if (row1){ %>
      <li class="left_con">
        <a href="/noticeRead?id=<%= row1.id %>">
          <span class="arrow_lef"></span>
          <span class="lbl">이전글</span>
          <span class="subject"> <%= row1.not_tit %> </span>
        </a>
      </li>
      <% } else { %>
      <li class="left_con">
        <a href="#" class="href_none">
          <span class="arrow_lef"></span>
          <span class="lbl">이전글</span>
          <span class="subject"> 이전글이 없습니다. </span>
        </a>
      </li>
      <% } %> <% if (row2){ %>
      <li class="right_con">
        <a href="/noticeRead?id=<%= row2.id %>">
          <span class="arrow_rig"></span>
          <span class="lbl">다음글</span>
          <span class="subject"> <%= row2.not_tit %> </span>
        </a>
      </li>
      <% } else { %>
      <li class="right_con">
        <a href="#" class="href_none">
          <span class="arrow_rig"></span>
          <span class="lbl">다음글</span>
          <span class="subject"> 다음글이 없습니다. </span>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
  <div class="board_read_btns w1440">
    <a href="/noticeUser"><span>목록</span></a>
  </div>
</section>
