<div class="sub_header">
  <div class="inner_subHeader w1440">
    <div class="home_btn"><a href="/"></a></div>
    <ul class="sub_nav">
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">프로그램</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">영화</a></li>
          <li><a href="">예매</a></li>
          <li><a href="">이벤트</a></li>
          <li><a href="">프로그램</a></li>
          <li><a href="/noticeUser">고객센터</a></li>
        </ul>
      </li>
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">SOS</a>
        <ul class="sub_lnb">
          <li><a href="">정기상영</a></li>
          <li><a href="">영화제</a></li>
          <li><a href="">기획전</a></li>
          <li><a href="/SOSUser">SOS</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<section class="sub_sec">
  <h2 class="SOS_tit">
    <p class="f_gray">S</p>AC <p class="f_gray">O</p>N <p class="f_gray">S</p>CREEN
  </h2>
  <div class="boardList_wrap w1440">
    <div class="board_read_title">
      <h3><%= row.sos_tit %></h3>
      <div class="writer_info">
        <span class="writer_name"><%= row.write_user %></span>
        <span class="write_time">
          <% let time = row.create_time; let toYear = time.getFullYear(); let toDate = time.getDate(); let toMonth = time.getMonth() + 1; %>
          <%= toYear %>-<%= toMonth %>-<%= toDate %>
        </span>
        <span class="view_num"><em>조회수 : </em><%= row.view_cnt %></span>
      </div>
    </div>
    <div class="board_read_con">
        <img src="<%= row.sos_img %>" alt="">
      <p>
        <%= row.sos_content %>
      </p>
    </div>
  </div>
  <div class="board_read_more w1440">
    <ul>
      <li>
        <a class="left_con" href="">
          <span class="arrow_lef"></span>
          <span class="lbl">이전글</span>
          <span class="subject">
            이전글이 없습니다.
          </span>
        </a>
      </li>
      <li class="right_con">
        <a href="">
          <span class="arrow_rig"></span>
          <span class="lbl">다음글</span>
          <span class="subject">
            [행사]2022년 SAC on Screen 11월 프로그램 신청 안내 / 11.17.(목) 연극 &lt;인형의 집&gt;
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="board_read_btns w1440">
    <a href="/SOSUser"><span>목록</span></a>
  </div>
</section>