<title>아리랑시네마센터 공지사항</title>
<div class="sub_header">
  <div class="inner_subHeader w1440">
    <div class="home_btn"><a href="/"></a></div>
    <ul class="sub_nav">
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">고객센터</a>
        <ul class="sub_lnb">
          <li><a href="/movieHome">영화</a></li>
          <li><a href="">예매</a></li>
          <li><a href="">이벤트</a></li>
          <li><a href="">프로그램</a></li>
          <li><a href="/noticeUser">고객센터</a></li>
        </ul>
      </li>
      <li id="sub_menu">
        <div class="sub_bg"></div>
        <a href="">공지사항</a>
        <ul class="sub_lnb">
          <li><a href="/noticeUser">공지사항</a></li>
          <li><a href="">자주찾는 질문</a></li>
          <li><a href="">1:1 문의</a></li>
          <li><a href="">찾아오시는 길</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<section class="sub_sec">
  <h2>공지사항</h2>
  <div class="title_wrap w1440">
    <form action="">
      <select name="" id="notice_select">
        <option value="">제목</option>
        <option value="">내용</option>
        <option value="">작성자</option>
      </select>
      <input id="notice_search" type="text" value="" placeholder="검색어를 입력하세요.">
      <button id="search_btn" type="submit"></button>
    </form>
  </div>
  <div class="boardList_wrap w1440">
    <table class="boardList_table">
      <thead>
        <tr>
          <td>번호</td>
          <td>제목</td>
          <td>작성자</td>
          <td>작성일자</td>
          <td>조회수</td>
          <td>수정</td>
          <td>삭제</td>
        </tr>
      </thead>
      <tbody class="noticeCheck_wrap">
        <% rows.forEach((row, index, array)=>{ %>
        <% let time = row.create_time; let toYear = time.getFullYear(); let toDate = time.getDate(); let toMonth = time.getMonth() + 1; %>
        <% if (row.noticeCheck == 'on') { %>
        <tr>
          <td class="notice">
            <div>공지</div>
          </td>
          <td class="subject">
            <p class="stitle">
              <a href="/noticeRead?id=<%= row.id %>">
                <%= row.not_tit %>
              </a>
            </p>
          </td>
          <td class="writer">
            <%= row.write_user %>
          </td>
          <td class="date">
            <%= toYear %>-<%= toMonth %>-<%= toDate %>
          </td>
          <td class="cnt">
            <%= row.view_cnt %>
          </td>
          <td><input type="button" value="수정" onclick="javascript:location.href='/noticeUpdate?id=<%= row.id %>'"></td>
          <td><input type="button" value="삭제" onclick="javascript:location.href='/noticeDelete?id=<%= row.id %>'"></td>
        </tr>
        <% } %>
        <% }); %>
      </tbody>
      <tbody>
        <% let arrayL = [] %>
        <% rows.forEach((row, index, array)=>{ %>
        <% let rowsL = [] %>
        <% let time = row.create_time; let toYear = time.getFullYear(); let toDate = time.getDate(); let toMonth = time.getMonth() + 1; %>
        <% if (row.noticeCheck == 'undefined') { %>
        <tr>
          <td class="num">
            <% arrayL.push(array[0]); %>
            <% rowsL.push(rows[0]); %>
            <%= (rowsL.length + arrayL.length) - 1 %>
          </td>
          <td class="subject">
            <p class="stitle">
              <a href="/noticeRead?id=<%= row.id %>">
                <%= row.not_tit %>
              </a>
            </p>
          </td>
          <td class="writer">
            <%= row.write_user %>
          </td>
          <td class="date">
            <%= toYear %>-<%= toMonth %>-<%= toDate %>
          </td>
          <td class="cnt">
            <%= row.view_cnt %>
          </td>
          <td><input type="button" value="수정" onclick="javascript:location.href='/noticeUpdate?id=<%= row.id %>'"></td>
          <td><input type="button" value="삭제" onclick="javascript:location.href='/noticeDelete?id=<%= row.id %>'"></td>
        </tr>
        <% } %>
        <% }); %>
      </tbody>
    </table>
    <div class="boardList_bot">
      <div class="pageList">
        <span class="first_page"></span>
        <strong>
          <span>1</span>
        </strong>
        <a href="">
          <span>2</span>
        </a>
        <a href="">
          <span>3</span>
        </a>
        <a href="">
          <span>4</span>
        </a>
        <a href="">
          <span>5</span>
        </a>
        <a href="">
          <span>6</span>
        </a>
        <a href="">
          <span>7</span>
        </a>
        <a href="">
          <span>8</span>
        </a>
        <a href="">
          <span>9</span>
        </a>
        <a href="">
          <span>10</span>
        </a>
        <span class="last_page"></span>
      </div>
      <div class="write_btn">
        <a href="/noticeWrite">작성하기</a>
      </div>
    </div>
  </div>
</section>